/* Importação da fonte Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Estilização global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #FFF; /* Texto padrão em branco */
}

body {
     /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem preencher a tela */
    background-repeat: no-repeat;
    font-weight: 700;
    line-height: 1.5em;
}

/* Estilo do contêiner principal do chat */
#log {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 95%; /* Largura do contêiner */
    max-width: 600px; /* Largura máxima */
    padding: 0;
    gap: 15px; /* Espaço entre mensagens */
    overflow: hidden;
}

/* Estilo de cada mensagem no chat */
.chat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeInRight 0.3s ease forwards, fadeOut 0.5s ease 10s forwards; /* Animação */
}

/* Cabeçalho do nome do usuário */
.chat-header {
  background-image: url('https://cdn.streamlabs.com/users/16409556/library/CHAT%20UP.png'); /* Imagem do fundo */
  background-size: contain; /* Ajusta a imagem ao conteúdo */
  background-repeat: no-repeat; /* Evita repetir a imagem */
  color: #FFF; /* Texto branco */
  width: 300px; /* Largura do header */
  height: 50px; /* Altura do header */
  position: relative; /* Posicionamento relativo para ajustes */
  z-index: 2; /* Faz o header ficar acima do retângulo preto */
  margin-bottom: -15px; /* Move o header para sobrepor o retângulo preto */
  margin-left: -3px; /* Move levemente para a esquerda */
  padding-left: 10px; /* Adiciona espaço para o texto */
  display: flex; /* Para alinhar texto dentro */
  align-items: center; /* Centraliza verticalmente */
}
.chat-message {
  background: linear-gradient(to bottom, #000000, #101010); /* Gradiente de preto para cinza sutil */
  color: #FFF; /* Cor do texto branca */
  padding: 15px; /* Espaçamento interno */
  font-size: 18px; /* Tamanho do texto */
  position: relative; /* Necessário para o pseudo-elemento */
  border: 2px solid #414141; /* Borda cinza sólida */
  margin-bottom: 10px; /* Espaço entre mensagens */
  width: 80%; /* Ajuste a largura do retângulo aqui */
  max-width: 550px; /* Limita a largura máxima */
  margin-left: -1; 
  margin-right: auto; 
}

/* Animação de entrada e saída */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}