/* Importação da fonte Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Estilização global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #FFF; /* Texto padrão em branco */
}

body {
     /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem preencher a tela */
    background-repeat: no-repeat;
    font-weight: 700;
    line-height: 1.5em;
}

/* Estilo do contêiner principal do chat */
#log {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 95%; /* Largura do contêiner */
    max-width: 600px; /* Largura máxima */
    padding: 0;
    gap: 15px; /* Espaço entre mensagens */
    overflow: hidden;
}

/* Estilo de cada mensagem no chat */
.chat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeInRight 0.3s ease forwards, fadeOut 0.5s ease 10s forwards; /* Animação */
}

/* Cabeçalho do nome do usuário */
.chat-header {
  background-image: url('https://cdn.streamlabs.com/users/16409556/library/CHAT%20UP.png');
    color: #FFF; /* Texto branco */
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 10px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%); /* Recorte para simular tinta */
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
    margin-bottom: 5px;
}

/* Mensagem do usuário */
.chat-message {
    background-color: #141414; /* Fundo preto */
    color: #FFF; /* Texto branco */
    font-size: 1em;
    padding: 10px;
    border: 1px solid #414141;
    width: 100%;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
}

/* Animação de entrada e saída */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
