/* Estilo geral */
body {
    margin: 0;
    background: transparent;
  }
  
  #chat-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 350px;
    max-height: 500px;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo da mensagem */
  .chat-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  /* Nome do usuário (parte verde) */
  .username {
    background-color: rgba(0, 0, 0, 0.3); /* Transparente para mostrar o fundo */
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }
  
  /* Texto da mensagem (parte preta) */
  .text {
    color: #fff;
    padding: 10px;
    font-size: 14px;
    overflow-wrap: break-word;
  }
  